.father1{
    background-color:coral;
    font-size: 20px;
    padding:10px
}

.father2{
    background-color:chartreuse;
    font-size: 20px;
    padding:10px
}

.father3{
    background-color:aqua;
    font-size: 20px;
    padding:10px
}

